.goals-screen {
  .goals-form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin: 30px;

    .add-button {
      margin: 0;
    }

    .form-label {
      color: white;
    }
  }

  .goals-container {
    display: flex;
    max-height: calc(100vh - 216px);
    overflow: auto;

    .goals-display-area {
      margin: 30px 30px 0px 30px;
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      width: 100%;

      .goal {
        .goal-details {
          display: flex;
          justify-content: space-between;
          color: white;
          margin-bottom: 5px;

          .goal-title {
            font-size: 24px;
          }

          .goal-amount {
            display: flex;
            align-items: flex-end;
          }
        }
        .progress {
          font-size: 13px;
          height: 35px;
        }

        .action-buttons {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          .edit-progress {
            display: flex;
            gap: 10px;
            .minus-button {
              svg {
                position: relative;
                bottom: 2px;
              }
            }

            .edit-progress-amount {
              width: 128px;
            }

            .plus-button {
              svg {
                position: relative;
                bottom: 1px;
              }
            }
          }
        }
      }
    }

    .completed-goals {
      margin-right: 30px;
      margin-left: 30px;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        color: white;
      }

      .completed-goal {
        background-color: #fff;
        border: 2px solid #001f3f;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        min-width: 296px;

        .completed-top {
          display: flex;
          justify-content: space-between;

          .completed-title {
            font-size: 18px;
            font-weight: bold;
            color: #001f3f;
          }

          .delete-button {
            width: 27px;
            height: 26px;

            svg {
              position: relative;
              bottom: 8px;
              right: 7px;
            }
          }
        }

        .completed-details {
          white-space: nowrap;
          margin-top: 10px;
          font-size: 14px;
          color: #333;
          display: flex;
          justify-content: space-between;
        }

        .completed-details span:first-child {
          font-weight: bold;
          color: #001f3f;
          margin-right: 10px;
        }

        .completed-details span:last-child {
          color: #888;
        }
      }

      .completed-goal + .completed-goal {
        margin-top: 15px;
      }
    }
  }
}

.goals-container {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888888 #f0f0f0; /* For Firefox */
}

/* Webkit (Chrome, Safari) */
.goals-container::-webkit-scrollbar {
  width: 8px;
}

.goals-container::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 4px;
}

.goals-container::-webkit-scrollbar-thumb:hover {
  background-color: #777777;
}

.goals-container::-webkit-scrollbar-track {
  background-color: #001f3f;
  border-radius: 4px;
}
